<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /1/mycache/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?_get_=$1 [QSA,L]
</IfModule>